body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2b2d42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  padding: 25px;
  background: #97aed6;
  color: #fffcf9;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input, button, select {
  width: 90%;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #2b2d42;
}

button {
  background-color: #2b2d42;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background-color: #081214;
  transform: translateY(-2px);
}

.correct {
  color: #129978;
  font-weight: bold;
  font-size: 18px;
}

.wrong {
  color: #e23b4e;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 600px) {
  .container {
    max-width: 95%;
    padding: 15px;
  }

  input, button, select {
    font-size: 14px;
    padding: 8px;
  }
}


